<html>

    <head>
        <title>Welcome to InnoGruk</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" type="text/css" href="static/styles/home_page.css" />
    </head>

    <body>

        <div>InnoGruk Search Engine: <a href="/index">Home</a></div>
        <hr>

        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
        <div> {{result}}</div>

        {% for mes in message%}
        <div> {{mes}}</div>
        {% endfor %}
        <hr>

        <div> Documents: {{search_result}}</div>
        <hr>

        <div> Your query track: {{track}}</div>
        <hr>

        {% block content %}{% endblock %}

    </body>


</html>
