<html>

    <head>
        <title>Welcome to InnoGruk</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" type="text/css" href="static/styles/home_page.css" />
    </head>

    <body>

        <h2>InnoGruk Search Engine: <a href="/">Info</a></h2>
        <hr>

        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
        <div> {{result}}</div>

        {% for mes in message%}
        <div> {{mes}}</div>
        <hr>
        {% endfor %}

        {% for res in search_result%}
        {{res | safe}}
        {% endfor %}
        {%if search_result != [] %}
        <hr>
        {% endif %}

        {{track | safe}}


        {% block stream %}{% endblock %}
        {% block content%}{% endblock %}

    </body>


</html>
