<html>
<head>
        <title>Welcome to InnoGruk</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" type="text/css" href="static/styles/home_page.css" />

    </head>

    <body>

        <img src="static/img/logo.png" alt="Paris" class='center' style="width:300px;">

        <h2 align="center">Groogle Search Engine: <a href="/">Info</a></h2>
        <hr>


        <form class='container' method="POST">
            <input name="text" placeholder="Write search query">
            <input type="submit" value="Groogle it!">
        </form>
        <div> {{result}}</div>

        {% for mes in message%}
        <div> {{mes}}</div>
        <hr>
        {% endfor %}

        {% for res in search_result%}
        {{res | safe}}
        {% endfor %}
        {%if search_result != [] %}
        <hr>
        {% endif %}

        {{track | safe}}


        {% block stream %}{% endblock %}
        {% block content%}{% endblock %}

    </body>


</html>
